.hover-item:hover{
    background-color: #eee;
}

.highlight{
    background-color:rgb(170, 170, 170);
}

.highlight__yellow{
    background-color: yellow;
}
.list {
    list-style:disc outside none;
    display:list-item; 
    font-size: 18px;
}
.title{
    font-size: 18px;
}
