.selected__text__hl{
    background-color: yellow;
}

.correct{
    padding-top:-30px ;
    border-width: 2px ;
    border-color:green ;
    background-color: white;
}

.wrong{
    padding: 0;
    margin: 0;
    border-width: 2px ;
    border-color:rgb(236, 9, 9) ;
    background-color: white;
}
.textshift{
    text-align: center;
}